@charset "UTF_8";


*{
    margin: 0px;
    padding: 0px;
    font: Arial;
}

body,html{
    width: 100vw;
    height: 100vh;
}
div#pcard{
    perspective: 800px;
    background-color: rgb(56, 55, 55);
}
.card{
    position: relative;
    background-color: transparent;
    height: 100vh;
    padding: 10px;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: 800ms;
}
.frontcard, .backcard{
    position: absolute;
    width: 450px;
    height: 300px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.534);
}
.frontcard{
    background-color: rgb(235, 235, 178);
    color: black;
    border-radius: 15px;

    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
#image{
    margin: 10px;
    margin-left: 50px;
    
}
.frontcard > p{
    display: inline-block;
    text-align: justify;
    margin: auto;
}
.backcard{
    background-color: rgb(235, 235, 178);
    color: black;
    border-radius: 15px;
    backface-visibility: hidden;

    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) rotateY(180deg);
}
#pcard:hover .card{
    transform: rotateY(180deg);
    
}